body{
    margin:0px;
    padding:0px;
    background-color: pink;

}
p{
    font-family:'Times New Roman', Times, serif;
    font-size:30px;
    font-weight:700;
    font-style: italic;
    text-align:right;
    text-decoration:underline;
    text-transform: lowercase;
    text-shadow:1px 1px 10px #F05;
    color:blue;
    display:inline-block; 
}

img{
    border: solid 2px #f04;
    border-radius:50%;
    float:left;
    margin-right:20px;
    padding:3px;

}